<script>
    const ASCII_CHARS_ENUM = {
        Uppercase: 0,
        Lowercase: 1,
        Symbols: 2,
        Numbers: 3,
    };

    const charsStartingIndexes = [65, 97, 33, 48];
    const charsEndingIndexes = [90, 122, 47, 57];

    window.passwordGeneratorData = function () {
        return {
            passwordLengthValue: 12,
            passwordUppercaseValue: false,
            passwordLowercaseValue: true,
            passwordNumbersValue: true,
            passwordSymbolsValue: false,
            passwordValue: "Password",
            randomNumberInRange(min, max) {
                //inclusive
                return Math.floor(Math.random() * (max - min + 1) + min);
            },
            generatePassword() {
                let generatedFromLetters = "";

                if (this.passwordUppercaseValue)
                    generatedFromLetters += this.getUpperCaseLetters();

                if (this.passwordLowercaseValue)
                    generatedFromLetters += this.getLowerCaseLetters();

                if (this.passwordNumbersValue)
                    generatedFromLetters += this.getNumbersLetters();

                if (this.passwordSymbolsValue)
                    generatedFromLetters += this.getSymbolsLetters();

                this.passwordValue = this.getRandomStringFromCharacters(
                    this.passwordLengthValue,
                    generatedFromLetters
                );
            },
            getRandomStringFromCharacters(length, characters) {
                let output = "";

                for (
                    let currentLetter = 0;
                    currentLetter < length;
                    currentLetter++
                ) {
                    output += characters.charAt(
                        this.randomNumberInRange(0, characters.length)
                    );
                }

                return output;
            },
            getUpperCaseLetters() {
                return this.getStringFromCharCode(
                    charsStartingIndexes[ASCII_CHARS_ENUM.Uppercase],
                    charsEndingIndexes[ASCII_CHARS_ENUM.Uppercase] + 1
                );
            },
            getLowerCaseLetters() {
                return this.getStringFromCharCode(
                    charsStartingIndexes[ASCII_CHARS_ENUM.Lowercase],
                    charsEndingIndexes[ASCII_CHARS_ENUM.Lowercase] + 1
                );
            },
            getSymbolsLetters() {
                return this.getStringFromCharCode(
                    charsStartingIndexes[ASCII_CHARS_ENUM.Symbols],
                    charsEndingIndexes[ASCII_CHARS_ENUM.Symbols] + 1
                );
            },
            getNumbersLetters() {
                return this.getStringFromCharCode(
                    charsStartingIndexes[ASCII_CHARS_ENUM.Numbers],
                    charsEndingIndexes[ASCII_CHARS_ENUM.Numbers] + 1
                );
            },
            getStringFromCharCode(fromNumber, ToNumber) {
                let output = "";

                for (
                    let currentLetter = fromNumber;
                    currentLetter < ToNumber;
                    currentLetter++
                ) {
                    output += String.fromCharCode(currentLetter);
                }

                return output;
            },
            copyPasswordToClipboard() {
                navigator.clipboard.writeText(this.passwordValue);
            },
        };
    };
</script>
<div
    x-data="passwordGeneratorData();"
    class="flex flex-col gap-3 text-white rounded-lg shadow-lg bg-gradient-to-br to-blue-700 from-blue-500 p-5"
>
    <div class="font-bold text-lg text-center text-white">
        Password Generator
    </div>
    <div
        class="relative px-4 py-1 font-bold text-white rounded bg-gradient-to-br from-pink-300 to-pink-500"
    >
        <div x-text="passwordValue"></div>
        <button
            type="button"
            class="h-full absolute right-0 top-0 bg-gradient-to-br from-gray-300 to-gray-500 font-normal text-xs rounded"
            @click="copyPasswordToClipboard();"
        >
            <div
                class="hover:scale-110 px-2 py-1 h-full flex justify-center items-center"
            >
                Copy
            </div>
        </button>
    </div>
    <div class="flex justify-between items-center">
        <label for="passwordLength">Password length</label>
        <input
            type="number"
            name="passwordLength"
            id="passwordLength"
            class="p-2 border-2 rounded-md text-pink-500 focus:ring placeholder-pink-500 focus:ring-offset-white focus:ring-pink-500 focus:ring-offset-2"
            x-model="passwordLengthValue"
        />
    </div>
    <div class="flex justify-between items-center">
        <label for="passwordUppercase">Include uppercase</label>
        <input
            id="passwordUppercase"
            type="checkbox"
            value=""
            class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 ring-offset-pink-800 focus:ring-2"
            x-model="passwordUppercaseValue"
        />
    </div>
    <div class="flex justify-between items-center">
        <label for="passwordLowercase">Include lowercase</label>
        <input
            id="passwordLowercase"
            type="checkbox"
            value=""
            class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 ring-offset-pink-800 focus:ring-2"
            x-model="passwordLowercaseValue"
        />
    </div>
    <div class="flex justify-between items-center">
        <label for="passwordNumbers">Include numbers</label>
        <input
            id="passwordNumbers"
            type="checkbox"
            value=""
            class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 ring-offset-pink-800 focus:ring-2"
            x-model="passwordNumbersValue"
        />
    </div>
    <div class="flex justify-between items-center">
        <label for="passwordSymbols">Include symbols</label>
        <input
            id="passwordSymbols"
            type="checkbox"
            value=""
            class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 ring-offset-pink-800 focus:ring-2"
            x-model="passwordSymbolsValue"
        />
    </div>
    <button
        type="button"
        class="transition-colors ease-in-out duration-1000 w-full bg-gradient-to-br from-green-300 to-green-400 hover:from-green-400 hover:to-green-600 text-white font-semibold rounded focus:ring focus:ring-offset-white focus:ring-green-400 focus:ring-offset-2"
        @click="generatePassword();"
    >
        <div class="hover:scale-110 px-4 py-1">Generate password</div>
    </button>
</div>
